
.slack__pulse
  height 100%
  width  100%

.slack__pulse--header
  z-index 3000

.slack__pulse--body
  top      0
  overflow hidden
  height   100%
  width    100%

.slack-channel__impulse
  z-index  0
  position absolute
  top      0
  left     0

.slack__impulse--body
  top      0
  overflow hidden
  height   100%
  width    100%
