.slack-channel__message
  position: absolute
  top: 45%
  width: 100%
  text-align: center
  font-size 2rem

.slack-channel__message--value
  color white
  margin: 0 1.6vmin

.slack-channel__footer
  position absolute
  bottom 0
  width 100%
  height 48px

.slack-channel__footer--avatar
  float left

.slack-channel__footer--author
  float left
  margin-left 1.6vmin
  font-size 1.6vmin

.slack__body
  text-align center
